# ========================================
# CONFIGURACIÓN DE CORREO (NODEMAILER)
# ========================================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=soporte.roppita.sec@gmail.com
# 🔴 Pide la contraseña al administrador del proyecto
SMTP_PASS=tu_contraseña_aqui

# ========================================
# RUTAS DE LA APLICACIÓN
# ========================================
# Puerto donde corre este backend
HOST_API_SERVER=localhost
PORT_API_SERVER=3000
# URL pública del backend (Para el correo de activación y el despliegue)
PUBLIC_BACKEND_URL=http://localhost:3001

# URL de tu frontend (React/Vite) para redireccionar luego de activar
FRONTEND_URL=http://localhost:5173

# ========================================
# SEGURIDAD Y BASE DE DATOS (Si las necesitas)
# ========================================
# 🔴 Pide el secreto al administrador del proyecto
JWT_SECRET=tu_secreto_aqui

# Base de datos
DB_HOST=tu_host_aqui
DB_PORT=5432
DB_USER=tu_usuario_aqui
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=tu_base_de_datos_aqui
DB_MAX_CONNECTIONS=10
DB_IDLE_TIMEOUT=30000
